body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 20px;
}
.text-align{
    text-align: center;
}
p{
    color: lightslategrey;
}
.name-color{
    color: tomato ;
    
}
.change-color{
    color: DarkSlateGray;
}
.link-button{ 
    text-decoration: none;
    background-image: linear-gradient(180deg,rgba(252, 94, 81, 1),rgba(245, 158, 117, 1) );
    padding: 10px 30px;
    border-radius: 5px;
   color: white;
   font-weight: 100;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
    padding-top: 5%;
}
img{
    width:70%;
}
section{
    overflow: hidden;
    margin-top: 100px;
}
#unique{
    background-color: whitesmoke;
    height: 700px;
}
.border-box{
    width: 25%;
    float: left;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    margin: 3%;
    margin-left: 2%; 
    padding-left: 3%;
}
.float{
    float: left;
}
#work{
    font-size: 40px;
    color: floralwhite;
    font-weight: 4500px;
}
#fourth-div2{
    padding-top: 4%;
    margin-left: 25%;
}
#fourth-div1{
    margin-left: 0;
}
.fourth-section{
    background-image: url(images/image6.png);
    background-repeat: no-repeat;
    background-size: 70%;
    margin-left: 22%;
    margin-top: 5%;
    padding-left: 3%;
    padding-top: 2%;
    height: 300px;
}
.last-head{
    text-align: center;
}
.color2{
    color: darkslategray;
}
